[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
sqlalchemy = "*"
beautifulsoup4 = "*"
lxml = "*"
parsimonious = "*"
parglare = "*"
scrapy = "*"

[requires]
python_version = "3.7"
